@import 'partials/settings';
@import 'foundation/components/top-bar';
@import 'foundation/components/type';
@import 'foundation/components/grid';
@import 'foundation/components/visibility';
@import 'foundation/components/buttons';

@import url(https://fonts.googleapis.com/css?family=Oswald|Lato);

// $bright: #FFF; //white
// $highlight: #F1592A; //bright red
// $dark: #3A3A3C; //VERY dark grayish blue
// $lightDark: #818285; //dark grayish blue
$footerHeight: 50px;
$Oswald: Oswald;
$Lato: Lato;

//==================Background Image=====================//
html, body {
  background-image: url('../assets/bg.jpg');
  height: 100%;
}

//==================Logo Image=====================//
header.logo {
  background-image: url('../assets/logo.svg');
  background-size: center;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FFF;
  height: 60px;

  h1 {
  background-image: url('../assets/header_bg.svg');
  background-size: center;
  background-repeat: no-repeat;
  background-position: center center;
  height: 60px;
  margin-top: 0px;

  span {
    visibility: hidden;
  }
  }
}

//==================Nav Bar=====================//
.top-bar {
  background-color: $dark;
  color: $lightDark;
  text-align: center;
  display: block;

  a {
    display: inline;
    &:nth-child(n+2):before {
      color: $lightDark;
      content: ' • ';
      }
    &:hover {
    color: $highlight;
    }
  }
}

//==================Content Modules=====================//
.box {
  margin: auto;
  background-color: $bright;
  // border: 5px solid $bright;
  height: 20px;
  width: 100%;
}

//==================setting containter hack for footer=====================//
.container {
  min-height: 100%;
  /* equal to footer height */
  margin : 0px;
  margin-bottom: -$footerHeight;
}

.container:after {
  content: "";
  display: block;
  margin: 0px;
}

.site-footer, .container:after {
  height: $footerHeight;
  margin: 0px;
}

.site-footer {
  height: $footerHeight;
  background: $dark;
  background-position: center;
  text-align: center;

  img {
    margin-left: 5px;
    margin-right: 5px;
  }
}

//==================Standard Post Styles=====================//
.post {
  border: 5px solid #FFF;
  margin: 15px;
  padding: 10px;
  text-align: center;
  background-color: $white;
  &:hover {
    background-color: $highlight;
  }
}

//==================Image within post styles=====================//
.picture {
  height: 300px;
  width: 300px;
}

//==================Titels within post styles=====================//
.title {
  font-family: $Oswald;
  font-size: 20px;
}

//==================Remaining post content styling=====================//

.infoSection{
  font-family: $Lato;
  font-size: 15px;
}


img.insta:hover {
  background: url('../assets/instagram_orange.svg');
}